{% set locale = app.request.getLocale() %}
<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="utf-8">
        <title>{{ seo.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="keywords" content="">

        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ absolute_url(asset('build/favicon/apple-touch-icon.png')) }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ absolute_url(asset('build/favicon/favicon-32x32.png')) }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ absolute_url(asset('build/favicon/favicon-16x16.png')) }}">
        <link rel="manifest" href="{{ absolute_url(asset('build/favicon/site.webmanifest')) }}">
        <meta name="msapplication-TileColor" content="#fff">
        <meta name="theme-color" content="#ffffff">

        {# stylesheets #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ gtm_code }}');</script>
        <!-- End Google Tag Manager -->

        {# javascripts #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# <script src="/build/app.js" defer></script> #}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOzJVi8U6xejE4REiJQFwoGzeNgESLWp4" async></script>
        {% endblock %}
    </head>

    <body class="bg-white relative">

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm_code }}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {# header #}
        {% include('/layouts/inc/header.html.twig') %}

        {# content #}
        <div id="content" class="container mx-auto py-8 px-4"">
            {% block content %}
                <p>Default body content...</p>
            {% endblock %}
        </div>

        {# footer #}
        {% include('/layouts/inc/footer.html.twig') %}
    </body>
</html>
