{% extends '/layouts/base.html.twig' %}

{% block content %}
    <section>
        slide
        <div class="your-class">
            <div>your content</div>
            <div>your content</div>
            <div>your content</div>
        </div>
    </section>

    <section>
        map
        <div class="map"></div>
    </section>

    <div>form</div>
{% endblock %}
