{% extends '/layouts/base.html.twig' %}

{% block content %}
<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Volumes/Dades/www/symphony/symphony-dev/src/Controller/DemoController.php'|file_link(0) }}">src/Controller/DemoController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Volumes/Dades/www/symphony/symphony-dev/templates/demo/index.html.twig'|file_link(0) }}">templates/demo/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
