{% extends '/layouts/base.html.twig' %}

{% block content %}
    {{ parent() }}
    <h4>Your lucky number is: {{ number }}</h4>
    <ul>
        <li>Environment: {{ app.environment }}</li>
        <li>Request uri: {{ app.request.uri }}</li>
        <li>Request method: {{ app.request.method }}</li>
    </ul>
{% endblock %}
