<footer class="bg-gray-50 h-40">
    <div class="container mx-auto flex flex-col md:flex-row py-8 px-4">
        <div class="flex-grow">
            <small>&copy;2021 - Symphony Dev Boilerplate</small>
        </div>
        <div class="flex-grow md:text-right">
            <nav>
                <a href="/html/">HTML</a> |
                <a href="/css/">CSS</a> |
                <a href="/js/">JavaScript</a> |
                <a href="/python/">Python</a>
            </nav>
        </div>
    </div>
</footer>

<a href="#" class="fixed bottom-16 right-16">To top</a>
