{% set locale = app.request.getLocale() %}
{% set page_name = app.request.get('_route') %}
{% set route_params = app.request.get('_route_params') %}

<header class="bg-gray-50">
    <div class="container mx-auto relative min-h-80 py-8 px-4">
        <div class="w-60">
            <img src="{{ absolute_url(asset('build/images/logo-symphony.svg')) }}" alt="Symfony!" />
        </div>
        <nav class="pt-4">
            <a href="{{ absolute_url(path('home')) }}">{% trans %}menu.home{% endtrans %}</a> |
            <a href="{{ absolute_url(path('demo')) }}">Demo</a> |
            <a href="{{ absolute_url(path('blog')) }}">Blog</a> |
            <a href="{{ absolute_url(path('form')) }}">Form</a> |
            <a href="{{ absolute_url(path('download', { 'file' : 'uploads/test.pdf' })) }}">Download</a>
        </nav>
        <nav class="absolute top-0 right-0 px-4">
            <a href="{{ absolute_url(path(page_name, route_params|merge({ _locale: 'ca' }))) }}">CA</a> |
            <a href="{{ absolute_url(path(page_name, route_params|merge({ _locale: 'es' }))) }}">ES</a>
            ( {{ locale }} )
        </nav>
    </div>
</header>
